
    <div class="container">
        <h1>
            Welcome to Chatta <span ng-bind="homeModel.user.nickname"></span>
        </h1>
        <form action="" role="form"  class="form-horizontal" ng-submit="createUser()" chatta-show="!homeModel.user">
            <fieldset>
                <legend>Enter a nickname</legend>
                <div class="form-group clearfix">
                <label for="nickname" class="col-lg-2 control-label">
                    Nickname:
                </label>
                <div class="col-lg-8">
                    <input type="text" ng-model="nickname" class="form-control pull-left half-width" id="nickname" placeholder=".:*360NoScope(nohardscopes)*:." />
                    <button class="btn btn-primary" type="submit">Choose</button>
                </div>
            </div>
            </fieldset>
            
        </form>
        <div chatta-show="homeModel.user" class="vdrop">
            <h3>
                Welcome {{ homeModel.user.nickname }}
            </h3>
            <p>These are the available rooms:</p>
            <div class="room-container">
                <a href="#/chatroom/{{room.id}}" ng-repeat="room in homeModel.rooms" class="btn btn-default room">{{room.name}}</a>
            </div>
        </div>
    </div>